/*
COLORES
blancos: #FFFFCC 255,255,204
base: #FFCC66 255,204,102
botones: #33CCCC
links: #66CC99
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', cursive;
}

/*DIV*/
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12{
    float: left; 
	margin-right: 1%;
	margin-bottom: 10px; 
	box-sizing: border-box;
}
.div1{ width: 7.33%;}
.div2{ width: 15.66%;}
.div3{ width: 23.99%;}
.div4{ width: 32.33%;}
.div5{ width: 40.65%;}
.div6{ width: 48.98%;}
.div7{ width: 57.31%;}
.div8{ width: 65.64%;}
.div9{ width: 73.97%;}
.div10{ width: 82.3%;}
.div11{ width: 90.63%}
.div12{ width: 99%}

/*BUTTONS*/
button{
    height: 40px;
    width: 60%;
    border: 2px solid #33CCCC;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    background-color: #33CCCC;
}

/*INPUTS*/
input[type="text"], input[type="password"]{
    float: left;
	height: 30px;
	font-size: 15px;
    font-weight: 200;
    box-sizing: border-box;
	border-radius: 5px;
	border: 1.5px solid #33CCCC;
	background: rgba(255, 255, 255, .5);	
	padding: 5px;
	outline: none;	
    transition: .5s all;
    color:rgba(0,0,0,1);
    
    
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-left: 30%;
    float: left;
}

h3 {
    text-align: center;
    font-size: 2.5em;
    margin-left: 35%;
    margin-top: .1px;
    color: #FFFFCC;
    float: left;
}

h2{
    text-align: center;
    font: 1em;
    margin-left: 10%;
    margin-top: .1px;
    color: #000000;
    float: left;
}

p {
    width: 70%;
    margin-left: 35%;
    float: left;
    color: black;
    font-size: 1em;
    /*letter-spacing: px; separar las letras*/
    opacity: .5;
}

/*Aparecer/Desaparecer*/
.ver{
    left: 0px;
    visibility: visible !important;
    transition: all 1.5s;
}
.nver{
    left: 360px;
    visibility: hidden !important;
    transition: all 1.5s;
}

nav{
    width: 100%;
    height: 30px;
    background: #FFCC66;
}

footer{
    width: 100%;
    background: #FFCC66;
    position: relative;
    height: 35px;
}

/*index.html*/

.pantalla-inicio {
    /*background-color: #FFCC66;*/
    background-image: url('roman-arkhipov-123618.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
}

.contenido {
    background-color: transparent;
    width: 100%;
    height: 60%;
    margin-top: 50%;
    position: fixed;
}

.sesion{
    position: fixed;
    /*background-color: rgba(255,255,204,.2);*/
    width: 100%;
    height: 45%;
    margin-top: 50%;
    font-size: 1.5em;    
}

.filtro {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    z-index: -1; /*enviar la clase un espacio atras x, y, z*/
}

#comenzar {
    margin-left: 20%;
    float: left;
    color: #FFFFCC;
    background: transparent;
}

#registro {
    margin-left: 20%;
    margin-top: 10px;
    float: left;
    color: black;
}

/*sesion*/
#iniciar, #cancelar{
    margin-left: 20%;
    width: 55%;
    font-size: .7em;
}

/*registro.php*/
.pantalla-reg{
    width: 100%;
    height: calc(100% - 65px);
    background: #FFFFCC;
}

.pantalla-reg input{
    width: 99%;
}

#ima1{
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

/*principal.php*/
.mapa{
    width: 100%;
    height: calc(100% - 65px);
    background: red;
}

nav img{
    width: 30px;
    height: 30px;
    margin-left: calc(49.5% - 25px);
}

footer img{
    width: 35px;
    height: 35px;
    margin-left: calc(49.5% - 25px);
}

#imagenb{
    filter: invert(90%);
    filter: saturate(-800%);
}
