/*
COLORES
blancos: #FFFFCC 255,255,204
base: #FFCC66 255,204,102
rojos: #FF9966
botones: #6699CC
links: #66CC99
*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Pacifico', cursive;
}

/*DIV*/
.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8, .div9, .div10, .div11, .div12, .divfooter{
    float: left; 
    margin-right: 1%;
    margin-bottom: 10px; 
    box-sizing: border-box;
}
.div1{ width: 7.33%;}
.div2{ width: 15.66%;}
.div3{ width: 23.99%;}
.div4{ width: 32.33%;}
.div5{ width: 40.65%;}
.div6{ width: 48.98%;}
.div7{ width: 57.31%;}
.div8{ width: 65.64%;}
.div9{ width: 73.97%;}
.div10{ width: 82.3%;}
.div11{ width: 90.63%;}
.div12{ width: 99%;}

.divfooter{ width: 18.8%; }

/*BUTTONS*/
button{
    height: 40px;
    width: 60%;
    border: 2px solid #6699CC;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    background-color: #6699CC;
}

/*INPUTS*/
input[type="text"], input[type="password"], input[type="number"]{
    float: left;
    height: 30px;
    font-size: 15px;
    font-weight: 200;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1.5px solid #6699CC;
    background: rgba(255, 255, 255, .5);    
    padding: 5px;
    outline: none;  
    transition: .5s all;
    color:rgba(0,0,0,1);  
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-left: 30%;
    float: left;
}

h2{
    text-align: center;
    font: 1em;
    margin-left: 10%;
    margin-top: .1px;
    color: #000000;
    float: left;
}

h3 {
    text-align: center;
    font-size: 2.5em;
    margin-left: 35%;
    margin-top: .1px;
    color: #FFFFCC;
    float: left;
}

#segundo{
    margin-top: -23.9px;
}

h4{
    text-align: center;
    font-size: 2em;
    margin-left: 18%;
    margin-top: 15px;
    color: #66CC99;
    float: left;
}

p {
    width: 70%;
    margin-left: 35%;
    float: left;
    color: black;
    font-size: 1em;
    /*letter-spacing: px; separar las letras*/
    opacity: .5;
}

/*Aparecer/Desaparecer -----  NAV  FOOTER*/
.ver{
    left: 0px;
    visibility: visible !important;
    transition: all 1.5s;
}
.nver{
    left: 360px;
    visibility: hidden !important;
    transition: all 1.5s;
}

.alerta{
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: -60 !important;
    box-sizing: border-box;
    left: 0px;
    background: #FF9966;
    height: 40px;
    z-index: 99999999999999;
    display: none;
}

.alerta>h1{
    font-size: 1.1em;
    color: #fff;
}
.alerta>h5{
    font-size: .6em;
    color: #fff;
}

.veralert{
    top: 0 !important;
    display: block;
    /*agregar un poco de efecto*/
}

.alertaC{
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    /*top: -60 !important;*/
    box-sizing: border-box;
    left: 0px;
    background: #FF9966;
    height: 90px;
    z-index: 99999999999999;
    display: none
}

.alertaB{
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    /*top: -60 !important;*/
    box-sizing: border-box;
    left: 0px;
    background: #FF9966;
    height: 90px;
    z-index: 99999999999999;
    display: none
}

.veralertsesion{
    top: 0 !important;
    display: block;
}

nav{
    width: 100%;
    height: 30px;
    background: #FFCC66;
}

footer{
    width: 100%;
    background: #FFCC66;
    position: fixed;
    height: 35px;
    top:calc(100% - 35px);
}

/*menu, pedidos, carrito, usuario*/
footer img{
    width: 25px;
    height: 25px;
    margin-left: 16px;
    margin-top: 5px;
}


/*================index.html==============================*/

.pantalla-inicio {
    /*background-color: #FFCC66;*/
    background-image: url('img/roman-arkhipov-123618.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /*Le damos un position relative para que el contenido no se 
    desmaquete cuando salga el teclado*/
    position: relative;
    /*Permitimos el scroll vertical para cuando salga el teclado.*/
    overflow-y: scroll;
    /*Impedimos el scroll horizontal*/
    overflow-x: hidden;
}

.contenido {
    background-color: transparent;
    width: 100%;
    height: 60%;
    /*Utilizamos un top en lugar de un margin para que la 
    página no crezca verticalmente y para que se respete
    la proporción una vez que salga el teclado*/
    top: 30%;
    /*Lo volvemos absoluto dentro del relativo*/
    position: absolute;
}

.sesion{
    /*Lo volvemos absoluto dentro del relativo*/
    position: absolute;
    /*background-color: rgba(255,255,204,.2);*/
    width: 100%;
    height: 50%;
    /*Utilizamos un top y un bottom en lugar de un margin para que la 
    página no crezca verticalmente y para que se respete
    la proporción una vez que salga el teclado*/
    top: 25%;
    bottom: 25%;
    font-size: 1.5em;    
}

.filtro {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .2);
    z-index: -1; /*enviar la clase un espacio atras x, y, z*/
}

#comenzar {
    margin-left: 20%;
    float: left;
    color: #FFFFCC;
    background: transparent;
}

#registro {
    margin-left: 20%;
    margin-top: 10px;
    float: left;
    color: black;
}

/*sesion*/
#iniciar, #cancelar{
    margin-left: 20%;
    width: 55%;
    font-size: .7em;
}


/*===================registro.php y usuario.html=============================*/
.pantalla-reg{
    width: 100%;
    height: 100%;
    background-image: url('img/roman-arkhipov-123618.jpg');
    background-size: cover;
    color: #FFFFCC;
    position: relative;
    /*Permitimos el scroll vertical para cuando salga el teclado.*/
    overflow-y: scroll;
    /*Impedimos el scroll horizontal*/
    overflow-x: hidden;
}

.pantalla-reg input{
    width: 99%;
}

.pantalla-reg h2{
    color: #FFFFCC;    
}

nav{
    background: transparent;
}


/*============================principal.php==============================*/
.divtitulo{
    width: 100%;
    height: 105px;
    /*background: #FFCC66;*/
    background-image: url('img/natalia-ostashova-142764.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.divcontenido{
    width: 100%;
    height: calc(100% - 105px);
    background: blue;
    position: absolute;
}

.divcontenido img{
    position: relative;
    width: 180px;
    height: 180px;
}

.cuadrado{
    width: 50%;
    height: 50%;
    background: #6699CC;
    display: block;
    float: left;
    position: relative;
}


/*==================================MENU.HTML================================*/
.pantalla-menu{
    width: 100%;
    height: calc(100% - 35px);
    background: #FFFFCC;
    position: absolute;
    float: left;
}

.divtitulom{
    width: 100%;
    height: 100px;
    /*background: #FFCC66; */
    background-image: url('img/linh-nguyen-164.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
}

.divtitulom h4{
    color: #FF9966;    
}

.elemento{
    width: 100%;
    height: 80px;
    background-color: #FF9966;
    position: relative;
    top: 100px;
}
.elementoPedido{
    width: 100%;
    background-color: #FF9966;
    position: relative;
    top: 100px;
}
.elemento-titulo{
    width: 75%;
    height: 40px;
    position: relative;
    float: left;
    background: #FF9966;
    text-align: center;
}

.elemento-precio{
    width: 25%;
    height: 40px;
    float: left;
    background: #FF9966;
    text-align: center;
}

.elemento-ing{
    width: 75%;
    height: 40px;
    float: left;
    position: relative;
    background: #FFFFCC;
    text-align: justify !important;
    font-size: .7em;
}

.elemento-carr{
    width: 25%;
    height: 40px;
    float: left;
    position: relative;
    background: #66CC99;
}

.elemento-carr img{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: 25px;
}

/*===============================PEDIDO.HTML=================================*/
.pantalla-ped{
    width: 100%;
    height: calc(100% - 35px);
    background: #FFFFCC;
    position: absolute;
    float: left;
}

.divtitulop{
    width: 100%;
    height: 100px;
    /*background: #FFCC66; */
    background-image: url('img/les-anderson-164521.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
}

.divtitulop h4{
    margin-left: 95px !important;
}

.elemento-date{
    width: 75%;
    height: 40px;
    float: left;
    position: relative;
    background: #FFFFCC;
}

.elemento-butt{
    width: 25%;
    height: 40px;
    float: left;
    position: relative;
    background: #66CC99;
}

.elemento-butt img{
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
    margin-left: 25px;
}

/*=================================CARRITO.html==============================*/
.pantalla-car{
    width: 100%;
    height: calc(100% - 35px);
    background: #FFFFCC;
    position: absolute;
    float: left;
}

.divtituloc{
    width: 100%;
    height: 100px;
    /*background: #FFCC66; */
    background-image: url('img/tim-engle-86343.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
}

.divtituloc h4{
    margin-left: 95px !important;
    color: black;
}

.divboton{
    width: 55%;
    position: absolute;
    float: left;
    z-index: 99;
    top: 85%;
    left: 115px;
}

.elemento1{
    width: 100%;
    height: 45px;
    background-color: #FF9966;
    position: relative;
    top: 100px;
}

#menos{
    width: 14%;
    height: 32px;
}

.pago{
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    /*top: -60 !important;*/
    box-sizing: border-box;
    left: 0px;
    background: #FF9966;
    height: 500px;
    z-index: 99999999999999;
    display: none;
    top: 0px;
    font-size: 1.5em;
}
.pver{
    display: block;
    top: 100px;
}
#pver2{
    margin-top: 160px;
}

.pago select{
    float: left;
    height: 45px;
    font-size: 15px;
    font-weight: 200;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1.5px solid #6699CC;
    background: rgba(255, 255, 255, .5);    
    padding: 5px;
    outline: none;  
    transition: .5s all;
    color:rgba(0,0,0,1);
    width: 200px;  
}

/*==============mapa.php==================*/
.mapa{
    width: 100%;
    height: 100%;
    position: absolute;
    float: left;
    /*background: red;*/
}

#botonAceptar{
    position: absolute;
    z-index: 99;
    top: 85%;
}

.buscador{
    position: absolute;
    top: 45px;
    z-index: 99;
    width:74.25%;
    background-color: transparent;
}

.botonbuscador{
    position: absolute;
    top: 45px;
    z-index: 99;
    width: 85px;
    /*background-color: red !important;*/
    left: 74.25%;
}

.buscador input{
    width: 100%;
}

.botonbuscador img{
    height: 30px;
    width: 30px;
    margin-left: 28px;
}




